//text colors:
$textBlack: #252525;
$textBlackSecondary: #2a2c37;
$textPrimary: #8a32ff;
$textWhite: #fff;
$textSecondary: #666;

//colors:
$white: #fff;
$black: #252525;
$secondBlack: #2a2c37;
$primaryCol: #8a32ff;
$sondaryCol: #666;
$thridCol: #010048;
$incorrectCol: #d83745;
$warningCol: #d83745;
$warningColDark: #942b32;
$incorrectColDark: #942b32;

$backgroundPrimary: #2a2c37;
$navbarBackground: #0c0f19;
$correctCol: #4ce460;

//charts
$increaseCol: #e8f3e7;
$decreaseCol: #f8e5e5;
